[package]
name = "keechain-core"
version.workspace = true
edition = "2021"
description = "KeeChain's Core library."
authors = ["Yuki Kishimoto <yukikishimoto@proton.me>"]
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme = "README.md"
keywords.workspace = true
rust-version.workspace = true

[features]
default = []
nostr = ["dep:nostr"]

[dependencies]
aes = "0.8"
base64 = "0.13"
bdk = { version = "0.26", default-features = false, features = ["keys-bip39"] }
bitcoin = "0.29"
cbc = { version = "0.1", features = ["alloc"] }
dirs = "4.0"
log = "0.4"
nostr = { version = "0.14", default-features = false, features = ["nip06", "nip19", "nip26"], optional = true }
rand = "0.8"
rand_chacha = "0.3"
rand_hc = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sysinfo = "0.26"
thiserror = "1.0"
