[package]
name = "keechain-core"
version.workspace = true
edition = "2021"
description = "KeeChain Core library."
authors = ["Yuki Kishimoto <yukikishimoto@proton.me>"]
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme = "README.md"
keywords.workspace = true
rust-version.workspace = true

[features]
default = []
nostr = ["dep:nostr"]

[dependencies]
aes = "0.8"
base64 = "0.21"
bdk = { version = "0.28", default-features = false, features = ["std"] }
bip39 = "2.0"
bitcoin = { version = "0.29", features = ["rand", "serde"] }
cbc = { version = "0.1", features = ["alloc"] }
nostr = { version = "0.19", default-features = false, features = ["nip06", "nip19"], optional = true }
rand_chacha = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sysinfo = "0.28"
thiserror = "1.0"
